<div id="load-data" class="container-fluid">

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active">
            <a href="#/load-data">1. Load CSV</a>
        </li>
        <li role="presentation"
            ng-class="{
                'disabled': !ctrl.csvCacheId
            }">
            <a  href="javascript:;"
                ng-click="ctrl.goReviewFields(ctrl.csvCacheId)">
                2. Review fields
            </a>
        </li>
        <li role="presentation" class="disabled">
            <a href="javascript:;">3. Save CSV</a>
        </li>
    </ul>

    <br>

    <div>
        <label>CSV data</label>
        <p>
            <fmq-file-input
                ng-model="ctrl.file"
                btn-class="'btn btn-sm btn-primary'"
                ng-change="ctrl.loadCSVFile(ctrl.file)">
                <i class="fa fa-file-excel-o"></i> CSV File
            </fmq-file-input>
            Choose a file or paste CSV content.
        </p>
        <textarea
            ng-model="ctrl.csvData"
            ng-change="ctrl.parseCsv()"
            ng-model-options="{ debounce: 350 }"
            rows="5"
            class="form-control"></textarea>
    </div>

    <br>

    <div ng-show="ctrl.csvData.length">
        <label for="fieldSeparator">Field delimiter</label>

        <select id="fieldSeparator"
            class="form-control"
            ng-model="ctrl.delimiter"
            ng-options="item.value as item.name for item in ctrl.fieldDelimiters"
            ng-change="ctrl.parseCsv()"></select>
    </div>

    <br>

    <div ng-show="ctrl.data.heading.length">
        <label>Data preview</label>
        <div class="well well-sm">

            <div class="overflow-x">
                <table class="table table-condensed table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th ng-repeat="item in ctrl.data.heading">
                                {{item}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in ctrl.filteredData | startFrom:ctrl.currentPage*ctrl.perPage | limitTo:ctrl.perPage">
                            <td ng-repeat="(key, item) in ctrl.data.heading"
                                ng-bind-html="row[key] | fmqFilterValue">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <fmq-table-footer
                per-page="ctrl.perPage"
                per-page-options="ctrl.perPageOptions"
                current-page="ctrl.currentPage"
                max-pages="ctrl.maxPages"
                on-per-page-changed="ctrl.filterData()"
                total-results="ctrl.filteredData.length">
            <fmq-table-footer>
        </div>

        <p class="text-center">
            <button class="btn btn-primary btn-lg"
                ng-click="ctrl.goReviewFields(ctrl.csvCacheId)">
                Continue to Review fields
            </button>
        </p>
    </div>
</div>