<div id="load-data" class="container-fluid">

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="disabled">
            <a href="javascript:;">1. Load data</a>
        </li>
        <li role="presentation">
            <a  href="javascript:;"
                ng-click="ctrl.goReviewFields(ctrl.csvCacheId)">
                2. Review fields
            </a>
        </li>
        <li role="presentation" class="active">
            <a  href="javascript:;">
                3. Save data
            </a>
        </li>
    </ul>

    <br>

    <p class="text-center padding-top-100 min-height-300" ng-show="ctrl.geoLocateLoading">
        Geolocating data, please wait... <i class="fa fa-spinner fa-spin fa-2x"></i>
    </p>

    <div ng-hide="ctrl.geoLocateLoading">
        <label for="dataName">
            Data name
        </label>
        <input type="text"
            ng-model="ctrl.data.name"
            class="form-control">
        <br>

        <p>
            <button class="btn btn-primary btn-lg"
                ng-disabled="!ctrl.data.name.length"
                ng-click="ctrl.saveData(ctrl.csvCacheId)">
                Save and see map
            </button>
        </p>
    </div>


</div>